<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>	
<h1>crud application</h1>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
